@mixin legend_grid {
  width: 90vw;
  display: grid;
  grid-template-columns: 2.1rem 1fr 1.6rem;
  grid-template-rows: 2.4rem;
  align-items: center;
  cursor: pointer;
}

@mixin list_icons {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1.6rem;
  border: solid 0.2rem $hospital_green;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card_icons {
  font-size: 1.8rem;
  color: $dark_green_blue;
}

@mixin create-card {
  // font-size: 1.8rem;
  // font-weight: 600;
  // color: #fff;
  // background-color: $dull_orange;
  // box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  width: 20rem;
  height: 5rem;
  border-radius: 1.2rem;
  // text-transform: uppercase;
  // display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 3.5rem 0 3rem 4.5rem;
}

@mixin fieldset_tablet {
  width: 40rem;
  display: grid;
  grid-template-columns: 40rem;
}

@mixin legend_tablet {
  width: 36.6rem;
  display: grid;
  grid-template-columns: 2.1rem 36rem 1.6rem;
}