@mixin legend_title {
  text-transform: uppercase;
  height: 2.4rem;
  color: $gunmetal;
  font-size: 1.8rem;
  font-weight: 600;
}
@mixin flex_row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}
@mixin fieldset {
  border: none;
  border-bottom: 0.1rem solid $white_three;
  width: 28rem;
}

@mixin list_icons {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 1.6rem;
  border: solid 0.2rem $hospital_green;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card_icons {
  font-size: 1.8rem;
  color: $dark_green_blue;
}
