* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-color: $white_four;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
