// fonts
$open_font: "Open Sans", sans-serif;
$merry_font: "Merriweather", serif;
$montse_font: "Montserrat", sans-serif;

$principal_font: $open_font;
$title_font: $merry_font;
$card_font: $montse_font;
// font-sizes
$capital: uppercase;
// line-heights

// spaces (margins, paddings)

// colors
$black_20: rgba(0, 0, 0, 0.2);
$light_khaki: #8d8c89;
$tomato: #e95626;
$dried_blood: #420101;
$rusty_red: #bd1010;
$faded_orange: #eab052;
$light_grey_blue: #a0c0cf;
$azure: #00a0f5;
$white: #d5d5d5;
$white_two: #fff;
$white_three: #d8d8d8;
$black: #000;
$gunmetal: #54585a;
$brownish_grey: #6b6b6b;
$slate: #3e5b65;
$hospital_green: #a2deaf;
$silver: #bfcdd0;
$pale_grey: #dde9ed;
$dark_green_blue: #114e4e;
$dirty_blue: #438792;
$pinkish_grey: #c5c5c5;
$white_four: #f5f5f5;
$dull_orange: #e17334;
