/*tablet create*/
// MEDIA QUERIES create-profile TABLET

@media (min-width: 768px) {
  .main-create-flex {
    width: 100vw;
    height: 85.2rem;
    display: flex;
    flex-direction: row;
    .create-profile {
      order: 2;
      width: 32.9rem;
      height: 81.2rem;
      margin: 2rem 4rem 2rem 3rem;
      border-radius: 0.6rem;
      .create-profile-card {
        margin-top: 17.3rem;
      }
    }
  }
  .form {
    width: 39.9rem;
    .fieldset-design {
      @include fieldset_tablet;
      .legend-design {
        @include legend_tablet;
      }
    }
    .fieldset-fill {
      @include fieldset_tablet;
      .legend-fill {
        @include legend_tablet;
      }
    }
    .fieldset-share {
      @include fieldset_tablet;

      .legend-share {
        @include legend_tablet;
      }
    }
  }
}
// MEDIA QUERIES SHARE TABLET

@media (min-width: 768px) {
  .fieldset-share {
    width: 50vw;
  }
}
