/*main index*/
@media (min-width: 768px) {
  .first-section-main {
    margin: 3.1rem auto 2.7rem;
    .first-main {
      &-title {
        width: 27.8rem;
        height: 3.1rem;
        font-size: 2.4rem;
        text-align: center;
      }
      &-text {
        width: 33.1rem;
        height: 4.8rem;
        font-size: 1.6rem;
      }
    }
  }
}
/*main index vir*/
@media (min-width: 768px) {
  .main-button {
    margin: 18.6rem auto 5.9rem;
  }
  .icon-container {
    width: 32.5rem;
    height: 8.6rem;
  }
  .words {
    font-size: 1.6rem;
  }
  .fa-object-ungroup,
  .fa-keyboard,
  .fa-share-nodes {
    font-size: 2.8rem;
  }
}
