.main-button {
  margin: 3.86rem auto 3rem;
  display: flex;
  justify-content: center;
  .start-button-text {
    width: 12.9rem;
    height: 4.2rem;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 2.1rem;
    background-color: $dirty_blue;
    color: $white_two;
    text-transform: $capital;
    text-align: center;
  }
}
