footer {
  display: flex;
  flex-direction: column;
  gap: $main_margin;
  width: 100vw;
  background-color: $white_two;
  border-top: solid 0.1rem $white_three;
  padding: $main_margin;
}

.footer {
  &__text {
    margin: auto;
    opacity: 50%;
    font-family: $open_font;
    font-size: $footer_font_size;
    text-align: center;
    color: $brownish_grey;

    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 2rem;
    }
  }

  &__logo {
    margin: auto;

    &__image {
      height: 4rem;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) and (max-width: 2560px) {
  footer {
    display: grid;
    grid-template-columns: auto auto;
  }
}