.first-section-main {
  margin: 3.54rem auto 1.78rem;
  display: flex;
  justify-content: center;
  .first-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      width: 22.3rem;
      height: 2.4rem;
      font-family: $merry_font;
      font-size: 1.92rem;
      font-weight: 900;
      color: $dull_orange;
      text-align: center;
    }
    &-text {
      width: 26.48rem;
      height: 3.84rem;
      font-size: 1.28rem;
      color: $dark_green_blue;
      text-align: center;
    }
  }
}
