.create__profile {
  background-image: linear-gradient(to bottom, $silver, $pale-grey);
  padding: $xbig_margin;
  display: flex;
  flex-direction: column;
  align-items: center;

  .create__profile__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__button {
      padding: 0.7rem 1rem;
      // @include transparent_button;
      display: flex;
      flex-direction: row;
      gap: 0.8rem;

      >i {
        font-size: 1.2rem;
      }

      >span {
        text-transform: uppercase;
        font-size: 1.2rem;
      }
    }

    &__content {
      width: 24rem;
      // aspect-ratio: 1.3627;
      margin-top: 2rem;
      border-radius: 2px;
      box-shadow: 0 1px 10px 0 $black_20, 0 1px 3px 0 rgba(0, 0, 0, 0.35);
      background-color: $white_two;

      .img__card {
        height: 4.2rem;
        margin: 2.1rem 0 1rem;
        border-left: solid 0.5rem $dirty_blue;

        &__title {
          height: 2rem;
          font-family: $montse_font;
          margin-left: 1.5rem;
          font-size: 1.8rem;
          font-weight: bold;
          line-height: 1.11;
          color: $dark_green_blue;
        }

        &__subtitle {
          height: 2rem;
          margin: 0.4rem 0 0 1.5rem;
          font-family: $montse_font;
          font-size: 1.6rem;
          font-weight: normal;
          line-height: 1.25;
          color: $gunmetal;
        }
      }

      .img__card__image {
        width: 100%;
        aspect-ratio: 1.2;
        background-image: url(../images/card-rata-gafas.jpg);
        background-size: cover;
      }

      .card__list {
        padding: 1.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        &__icons {
          display: flex;
          gap: 1rem;

          &__contact1 {
            @include list_icons;

            .mobile__icon {
              @include card_icons;
            }
          }

          &__contact2 {
            @include list_icons;

            .email__icon {
              @include card_icons;
            }
          }

          &__contact3 {
            @include list_icons;

            .in__icon {
              @include card_icons;
            }
          }

          &__contact4 {
            @include list_icons;

            .github__icon {
              @include card_icons;
            }
          }
        }
      }
    }
  }
}