@import "../core/variables";

.design__text {
    font-size: 1.4rem;
    font-family: $open_font;
    text-transform: uppercase;
    width: 62px;
    height: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $gunmetal;
    margin: 12px 0 12px 0;
}

.bg1a {
    background-color: var(--color-1a);
}

.bg1b {
    background-color: var(--color-1b);
}

.bg1c {
    background-color: var(--color-1c);
}

.bg2a {
    background-color: var(--color-2a);
}

.bg2b {
    background-color: var(--color-2b);
}

.bg2c {
    background-color: var(--color-2c);
}

.bg3a {
    background-color: var(--color-3a);
}

.bg3b {
    background-color: var(--color-3b);
}

.bg3c {
    background-color: var(--color-3c);
}

.sample {
    width: 30px;
    height: 25px;
}

.design__palette {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.samples__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.palettes__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0 20px 20px;
}

.input__palette {
    width: 17px;
    height: 17px;
    margin: 15px 10px 15px 28px;
}

.no__bg {
    background-image: none;
    background-color: transparent;
}