.design__text {
    font-size: 1.4rem;
    font-family: $open_font;
    text-transform: uppercase;
    width: 62px;
    height: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $gunmetal;
    margin: 12px 0 12px 0;
}


.palette1 {
    background-image: linear-gradient(to bottom, $hospital-green, lighten($hospital-green, 10%));

    .create__profile__card {
        &__button {
            color: $dark-green-blue;
        }

        &__content {
            .img__card {
                border-left: solid 0.5rem $dark-green-blue;

                &__title {
                    color: $dark-green-blue;
                }

                &__subtitle {
                    color: $dark-green-blue;
                }
            }


            [class*="card__list__icons__contact"] {
                border: solid 0.2rem $hospital-green;

                [class*="__icon"] {
                    color: $dark-green-blue;
                }
            }
        }
    }


    .bg1 {
        background-color: $dark-green-blue;
    }

    .bg2 {
        background-color: $hospital-green;
    }

    .bg3 {
        background-color: $dirty-blue ;
    }
}

.palette2 {
    background-image: linear-gradient(to bottom, $tomato, lighten($tomato, 10%));

    .create__profile__card {
        &__button {
            color: $dried-blood;
        }

        &__content {
            .img {
                &__card {
                    border-left: solid 0.5rem $dried-blood;

                    &__title {
                        color: $dried-blood;
                    }

                    &__subtitle {
                        color: $dried-blood;
                    }
                }

            }

            [class*="card__list__icons__contact"] {
                border: solid 0.2rem $tomato;

                [class*="__icon"] {
                    color: $dried-blood;
                }
            }
        }
    }

    .bg1 {
        background-color: $dried-blood;
    }

    .bg2 {
        background-color: $tomato;
    }

    .bg3 {
        background-color: $rusty-red;
    }
}

.palette3 {
    background-image: linear-gradient(to bottom, $light-grey-blue, lighten($light-grey-blue, 10%));


    .create__profile__card {
        &__button {
            color: $slate;
        }

        &__content {
            .img__card {
                border-left: solid 0.5rem $slate;

                &__title {
                    color: $slate;
                }

                &__subtitle {
                    color: $slate;
                }
            }

            [class*="card__list__icons__contact"] {
                border: solid 0.2rem $light-grey-blue;

                [class*="__icon"] {
                    color: $slate;
                }
            }
        }
    }

    .bg1 {
        background-color: $slate;
    }

    .bg2 {
        background-color: $light-grey-blue;
    }

    .bg3 {
        background-color: $faded-orange;
    }
}

// .palette4{
//     background-image: linear-gradient(to bottom, $dusty_pink, lighten($dusty_pink, 10%));
//     .create-profile-card-button{
//         .text-reset {
//             color: $strawberry;
//         }
//         .reset-icon{
//             color: $strawberry;
//         }
//     } 
//     .create-profile-card-content{
//         .img-card{        
//             border-left: solid 0.5rem $strawberry;
//         } 
//         .img-card-title{
//             color: $strawberry;
//         } 
//         .img-card-subtitle{
//             color: $peach;
//         }
//         [class*="card-list-icons-contact"] {
//             border: solid 0.2rem $dusty_pink;
//             [class*="-icon"]{
//                 color: $strawberry;
//             }
//         }
//     }

//     .bg1{
//         background-color: $strawberry;
//     }
//     .bg2{
//         background-color: $peach;
//     }
//     .bg3{
//         background-color: $dusty_pink;
//     }
// }

.sample {
    width: 30px;
    height: 25px;
}

.design__palette {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.samples__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.palettes__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0 20px 20px;
}

.input__palette {
    width: 17px;
    height: 17px;
    margin: 15px 10px 15px 28px;
}

.no__bg {
    background-image: none;
    background-color: transparent;
}