.form {
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 1.7rem 2rem 3rem;
  .fieldset-design {
    height: 20rem;
    @include fieldset;
    .legend-design {
      @include legend_grid;
      .icon-design {
        @include fieldset_icons;
      }
      .title-design {
        @include legend_title;
      }
      .arrow-icon-design {
        @include arrow_icon;
      }
    }
  }
}

.fieldset-fill {
  @include fieldset;
  height: 59.4rem;
  .legend-fill {
    @include legend_grid;
    .icon-fill {
      @include fieldset_icons;
    }
    .title-fill {
      @include legend_title;
    }
    .arrow-icon-fill {
      @include arrow_icon;
    }
  }
}
.fieldset-share {
  border: 0.1px solid transparent;
  height: 30rem;
  margin-top: 1rem;
  .legend-share {
    @include legend_grid;
    .icon-share {
      @include fieldset_icons;
    }
    .title-share {
      @include legend_title;
    }
    .arrow-icon-share {
      @include arrow_icon;
    }
  }
}
