.form {
  display: flex;
  flex-direction: column;
  width: 32rem;
  margin: 1.7rem auto 3rem;
  .fieldset-design {
    @include fieldset;
    height: 20rem;

    .legend-design {
      @include flex_row;
      .icon-design {
        @include fieldset_icons;
      }
      .title-arrow-design {
        @include title_arrow;
        .title-design {
          @include legend_title;
        }
        .arrow-icon-design {
          @include arrow_icon;
        }
      }
    }
  }
  .fieldset-fill {
    @include fieldset;
    height: 59.4rem;
    .legend-fill {
      @include flex_row;
      .title-fill {
        @include legend_title;
      }
    }
  }
  .fieldset-share {
    @include fieldset;
    height: 28.1rem;

    .legend-share {
      @include flex_row;
      margin: 0 0 0 1.5rem;
      padding-top: 1.5rem;
      align-items: baseline;
      .title-share {
        @include legend_title;
      }
    }
  }
}
