.card__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $main_margin;
  gap: $main_gap;
}

.card__already__created {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $main_gap;
}

.card__created {
  font-size: 1.8rem;
  font-weight: 600;
  color: $gunmetal;
  text-align: center;
}

.created__response {
  font-size: 1.2rem;
  color: $dull_orange;
  text-align: center;
  font-weight: 600;
}