<main class="index">
    <h2>Create your awesome profile-card</h2>
    <p>Improve your proffesional network quick and easy</p>
    <div class="container__icons">
        <div class="design">
            <i class="fa-regular fa-object-ungroup design-svg"></i>
            <p class="words">Design</p>
        </div>
        <div class="fill">
            <i class="fa-regular fa-keyboard fill-svg"></i>
            <p class="words">Fill-in</p>
        </div>
        <div class="share">
            <i class="fa-solid fa-share-nodes share-svg"></i>
            <p class="words">Share</p>
        </div>
    </div>
    <a class="main__button" href="./create.html">Start</a>
</main>