<div class="container">
    <div class="icon-container">
        <div class="design">
            <i class="fa-regular fa-object-ungroup design-svg"></i>
            <p class="words">Diseña</p>
        </div>
        <div class="fill">
            <i class="fa-regular fa-keyboard fill-svg"></i>
            <p class="words">Rellena</p>
        </div>
        <div class="share">
            <i class="fa-solid fa-share-nodes share-svg"></i>
            <p class="words">Comparte</p>
        </div>
    </div>
</div>