@import "core/variables";
@import "core/reset";
@import "components/buttons";
@import "components/code";
@import "components/links";
@import "layout/page";
@import "layout/header";
@import "layout/mainbelen";
@import "layout/mainvirginia";
@import "layout/button-start";
@import "layout/footer";
@import "pages/index";
@import "pages/media-tablet";
